---
- name: ensure application group
  group:
    name: "{{ application_group }}"

- name: ensure application user
  user:
    name: "{{ application_user }}"
    group: "{{ application_group }}"

- name: ensure .ssh directory for application user
  file:
    path: "/home/{{ application_user }}/.ssh"
    state: directory
    owner: "{{ application_user }}"
    group: "{{ application_group }}"
    mode: 0700

- name: add gitlab deploy key
  copy:
    dest: "/home/{{ application_user }}/.ssh/id_rsa"
    content: "{{ id_rsa }}"
    owner: "{{ application_user }}"
    group: "{{ application_group }}"
    mode: 0600

- name: add gitlab to known hosts
  known_hosts:
    name: code.aihuishou.com
    key: "{{ lookup('file', 'gitlab_rsa.pub') }}"
  become: true
  become_user: "{{ application_user }}"
