---
- name: install PHP FPM
  apt:
    name: php{{ php_version }}-fpm

- name: setup php-fpm global config file
  template:
    src: php-fpm.conf.j2
    dest: /etc/php/{{ php_version }}/fpm/php-fpm.conf
    backup: true
  register: php_fpm_global_config

- name: ensure php-fpm service
  service:
    name: php8.3-fpm
    state: started
    enabled: true

- name: restart php-fpm service if config file changed
  service:
    name: php{{ php_version }}-fpm
    state: restarted
  when: php_fpm_global_config.changed

