---
- name: ensure directory for wechatpaycert
  file:
    path: "{{ wechat_appclient_path }}"
    state: directory
    owner: "{{ application_user }}"
    group: "{{ application_group }}"

- name: setup wechatpaycert file
  copy:
    dest: "{{ wechat_appclient_path }}/apiclient_cert.pem"
    content: "{{ apiclient_cert_pem }}"
    owner: "{{ application_user }}"
    group: "{{ application_group }}"
    mode: 0600

- name: setup wechatpaykey file
  copy:
    dest: "{{ wechat_appclient_path }}/apiclient_key.pem"
    content: "{{ apiclient_key_pem }}"
    owner: "{{ application_user }}"
    group: "{{ application_group }}"
    mode: 0600
