---
- name: ensure directory for code distribution
  file:
    path: "{{ distribution_path }}"
    state: directory
    owner: "{{ application_user }}"
    group: "{{ application_group }}"

- name: determine if code distributed
  stat:
    path: "{{ distribution_path }}/{{ application_version }}"
  register: code_stat

- name: distribute code with composer
  composer:
    command: create-project
    working_dir: "{{ distribution_path }}"
    prefer_dist: true
    arguments: "aijihui/aijihui-web {{ application_version }} {{ application_version }} --repository='{{ repository }}'"
  when: not code_stat.stat.exists
  become: true
  become_user: "{{ application_user }}"

- name: setup application env file
  template:
    src: templates/env.j2
    dest: "{{ distribution_path }}/{{ application_version }}/.env"
  become: true
  become_user: "{{ application_user }}"

- name: run migrations
  shell: php artisan migrate --force
  args:
    chdir: "{{ distribution_path }}/{{ application_version }}"
  become: true
  become_user: "{{ application_user }}"
  when: jobserver

- name: update welfare
  shell: php artisan command:update-welfare
  args:
    chdir: "{{ distribution_path }}/{{ application_version }}"
  become: true
  become_user: "{{ application_user }}"
  when: jobserver
- name: update slot-machine
  shell: php artisan command:update-slot-machine
  args:
    chdir: "{{ distribution_path }}/{{ application_version }}"
  become: true
  become_user: "{{ application_user }}"
  when: jobserver


- name: link code to current application version
  file:
    path: "{{ application_path }}"
    src: "{{ distribution_path }}/{{ application_version }}"
    state: link
    owner: "{{ application_user }}"
    group: "{{ application_group }}"
  register: release_stat

- name: reload php-fpm service if release version is changed
  service:
    name: php{{ php_version }}-fpm
    state: reloaded
  when: release_stat.changed

- name: restart jobs gracefully if release version is changed
  shell: php artisan queue:restart
  args:
    chdir: "{{ application_path }}"
  become: true
  become_user: "{{ application_user }}"
  when: release_stat.changed and jobserver

- name: add Kernel into crontab
  cron:
    name:  "add laravel into crontab"
    user: "{{ application_user }}"
    job: "/usr/bin/php {{ application_path }}/artisan schedule:run 1>> {{ crontab_logfile }} 2>&1"
  when: jobserver

